#main_container{
    width: 96%;
    /* border: 1px solid gray; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    text-align: center;
    margin: auto;
    
}
.card{
    /* border: 1px solid gray; */
    border-radius: 10px 40px;
    overflow: hidden;
    transition: ease-in-out 1s;
    width: 94%;
    padding: 15px;
    margin: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   
}
.card:hover{
    transform: scale(1.01);
    box-shadow: rgb(6, 10, 12) 0px 2px 4px 0px, rgb(8, 11, 12) 0px 2px 16px 0px;
}
.card img{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    transition: ease-in-out 1s;
   
}
.card img:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.card img:hover{
    cursor: pointer;
    transform: scale(1.1);
   
}
.card h1{
    color: rgb(237, 138, 138);
    text-align: center;
    line-height: 0.9;
}
.card p{
    color: blue;
    font-style: italic;
    font-weight: bold;
  
}
.card btn{
    border: 2px solid rgb(0, 13, 255);
    padding: 5px 10px;
    color: rgb(253, 3, 3);
    font-weight: bold;
    background-color: rgb(76, 231, 76);
    border-radius: 5px;
    width: 30%;
}
.card btn:hover{
    cursor: pointer;
    background-color: rgb(246, 37, 197);
    color: blue;
    transition: ease-in-out 1s;

   }
@media screen and (min-width:720px) and (max-width:1080px) {
    #main_container{ 
        width: 99%;      
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        text-align: center;
        padding: 0px;
    }
    
    
}
@media screen and (min-width:100px) and (max-width:719px) {
    #main_container{   
        width: 98%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        margin: auto;
        
    }
    .card{
        
        
        padding: 10px;
        
    }


}